<div
  data-th-fragment="userSidebar"
  id="drawer-navigation"
  class="fixed top-0 left-0 z-50 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800"
  tabindex="-1"
  aria-labelledby="drawer-navigation-label"
>
  <h5
    id="drawer-navigation-label"
    class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400"
  >
    Menu
  </h5>
  <button
    type="button"
    data-drawer-hide="drawer-navigation"
    aria-controls="drawer-navigation"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-300 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
  >
    <svg
      aria-hidden="true"
      class="w-5 h-5"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
  <div class="py-4 overflow-y-auto">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          data-th-href="@{'/user/dashboard'}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
        <img data-th-src="@{'/Images/dashboard.png'}" class="w-5 h-5" />
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          data-th-href="@{'/user/profile'}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <img data-th-src="@{'/Images/profile.png'}" class="w-5 h-5" />
          <span class="flex-1 ms-3 whitespace-nowrap">Profile</span>
          <span
            class="inline-flex items-center justify-center px-2 py-1 ms-3 text-sm font-medium text-gray-800 bg-green-200 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Manage</span
          >
        </a>
      </li>
      <li>
        <a
          data-th-href="@{'/user/getFavourites'}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
        <img data-th-src="@{'/Images/favourite.png'}" class="w-5 h-5" />
          <span class="flex-1 ms-3 whitespace-nowrap">Favorites</span>
          <span
            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300"
            data-th-text="${favCount}"
            >3</span
          >
        </a>
      </li>
      <li>
        <a
          data-th-href="@{'/user/all-contacts'}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
        <img data-th-src="@{'/Images/allContacts.png'}" class="w-5 h-5" />
          <span class="flex-1 ms-3 whitespace-nowrap">All Contacts</span>
        </a>
      </li>
      <li>
        <a
          data-th-href="@{'/user/add-contact'}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
        <img data-th-src="@{'/Images/add-user.png'}" class="w-5 h-5" />
          <span class="flex-1 ms-3 whitespace-nowrap">Add New Contact</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
        <img data-th-src="@{'/Images/help-desk.png'}" class="w-5 h-5" />
          <span class="flex-1 ms-3 whitespace-nowrap">Help</span>
        </a>
      </li>
    </ul>
  </div>
</div>
