<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <title>About Us</title>
    <div id="content">
    <section class="flex justify-center items-center m-8 w-full h-full">
        <div  class="w-[50%] h-full flex flex-col items-center justify-center">
            <h1 class="text-4xl font-bold m-6">About Us</h1>
            <p>At Smart Contact Manager, we believe that building and maintaining
                meaningful relationships is key to personal and professional success.
                Our platform is designed to help you organize, manage, and strengthen
                your network with ease. Whether you're a busy professional, entrepreneur,
                or just looking to stay in touch with important contacts, we provide
                an intuitive and efficient way to keep your connections organized,
                up-to-date, and accessible.</p>
            <br>
            <p>
                With Smart Contact Manager, you can effortlessly track interactions,
                set reminders, and gain valuable insights into your network, empowering
                you to unlock new opportunities and stay ahead in today's fast-paced world.
                Let us help you turn every connection into a lasting relationship.
            </p>
        </div>
        <div class="m-4">
            <img data-th-src="@{'/Images/aboutus.png'}" width="700" height="700">
        </div>
    </section>
    <p>

    </p>
    </div>
    <script></script>
</html>